<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon slot="icon-only" name="storefront"></ion-icon>
        </ion-buttons>
        <ion-title class="ion-text-center">
            Market place
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()" color="danger">
                <ion-icon slot="icon-only" name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment scrollable mode="md" color="primary" [value]="categorias[0]" (ionChange)="filtrarPorCategoria($event)" style="background-color: #222428;">
        <ion-segment-button mode="md" [value]="categoria" *ngFor="let categoria of categorias">
            <ion-label text-capitalize>{{categoria.categoria}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content color="dark">

    <ion-refresher slot="fixed" (ionRefresh)="refreshProductos($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-productos [productos]=producto></app-productos>

    <ion-infinite-scroll [disabled]="infinitDisable" threshold="150px" (ionInfinite)=" getProductos($event)">
        <ion-infinite-scroll-content loading-spinner="circular" loading-text="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>